.box-argument-1, .box-argument-2, .pulz {
    margin-top: 20px;
}

.container {
    text-align: center;
}

textarea {
    width: 444px;
    height: 134px;
}

.formatted {
    margin: auto;
    width: 50%;
    padding: 10px;
}
